# fly.toml app configuration file generated for eta-shipping-app-empty-sun-1109 on 2026-01-13T15:15:48+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'eta-shipping-app-empty-sun-1109'
primary_region = 'sin'

[build]

[env]
  PORT = '3000'
  SCOPES = 'read_metaobject_definitions,read_metaobjects,write_metaobject_definitions,write_metaobjects,write_products'
  SHOPIFY_API_KEY = '09c982cf9c3387266ecd8fc86dc6d0c2'
  SHOPIFY_APP_URL = 'https://eta-shipping-app.fly.dev'

[processes]
  app = 'node ./dbsetup.js npm run docker-start'

[[mounts]]
  source = 'data'
  destination = '/data'
  auto_extend_size_threshold = 80
  auto_extend_size_increment = '1GB'
  auto_extend_size_limit = '10GB'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
