# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "29b9aac2cedbf0f5ad038adb33d0770b"
name = "synergistic-logistics-app"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_metaobject_definitions,read_metaobjects,write_metaobject_definitions,write_metaobjects,write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
